.pictogramButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  transition: transform .2s;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #000;
}

.pictogramButton:hover {
  transform: scale(1.3);
}

.pictogramButton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pictogramImage {
  width: 75px;
  height: 75px;
}

