.custom-button {
  border-radius: 999px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F0C900;
  cursor: pointer;
  transition: border-color 0.25s;
}

.custom-button:hover {
  border-color: #646cff;
}