.game-creator-container {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(240, 240, 255, 0.7));
  border-radius: 20px;
  padding: 40px;
  width: 500px;
  margin: 80px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.game-creator-container h2 {
  color: #4a4aff;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

.game-creator-container p {
  color: #7a7a7a;
  font-size: 16px;
  margin-bottom: 25px;
}

.game-creator-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #4a4a4a;
  text-align: left;
}

.game-creator-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s;
}

.game-creator-container input::placeholder {
  color: #bbb;
  opacity: 1;
}

.game-creator-container input:focus {
  box-shadow: 0 0 5px rgba(74, 74, 255, 0.8);
  border: 1px solid #4a4aff; 
}


.game-creator-container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #4a4aff, #836fff);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

.game-creator-container button:hover {
  background: linear-gradient(90deg, #6a8dff, #b39dff);
  transform: scale(1.05);
}
