.homeWrapper {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  max-width: 1440px;
  margin-top: 6rem;
  padding: 0 1rem;
}

.homeWrapper img {
  height: 250px;
}

.homeContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}


