.homeWrapper {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  width: min(500px, 90%);
  margin-top: 6rem;
}

.homeWrapper img {
  height: 250px;  
}

.homeContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}


