.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 2rem;
  background: linear-gradient(90deg, #994BF0, #7B6EF4);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header img {
  width: 3.2rem !important;
  height: 3.2rem !important;
  object-fit: cover;
}

.header a {
  height: auto;
  margin: 0;
  padding: 0;
  align-self: center;
}

.headerNav {
  display: flex;
  gap: 1rem;
}